@using Microsoft.IdentityModel.Tokens
@* @model IEnumerable<Paint> *@
@model KoboldPainting.Models.PaintsViewModel

<div id="beginnerDiv" class="text-center card welcomePageCard">
    <div class="welcomeDiv">
        <h1 style="font-weight: bolder;">Search Results</h1>
    </div>
</div>
<br />
<h5 style="font-weight: bold;">
    Search Again
</h5>
<br />
<form id="searchForm" action="/Search/PaintSearch/">
    <div class="form-group">
        <label for="paintName" style="margin-top: 2%;">Paint Name:</label>
        <input class="form-control" id="PaintName" placeholder="Enter Paint Name" asp-for="Paint">
        <div class="form-group">
            <label asp-for="SelectedCompany">Company</label>
            <select asp-for="SelectedCompany" asp-items="@(new SelectList(Model.Companies, "Id", "CompanyName"))"
                class="form-control"></select>
            <span asp-validation-for="SelectedCompany" class="text-danger"></span>
        </div>
    </div>
    <button type="submit" class="btn btn-primary" style="margin-top: 2%; text-align: center;" asp-controller="Search"
        asp-action="PaintSearch">Submit</button>
</form>
<br />

@{
    bool showAddPaints = Model.Paints.IsNullOrEmpty();
    if (!showAddPaints)
    {
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Brand</th>
                </tr>
            </thead>
            <tbody>

                @foreach (var paint in Model.Paints)
                {
                    <tr>
                        <td>@paint.PaintName</td>
                        <td>@paint.Company.CompanyName</td>
                    </tr>
                }

            </tbody>
        </table>
    }
    else
    {
        <br />
        <h5 style="font-weight: bold;">
            No Paints Found, Please Add Paints
        </h5>
        <br />
        if (Model.IsFormSubmitted)
        {
            if (!Model.IsSuccess)
            {
                <div class="alert alert-danger alert-dismissable" role="alert">
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    <h1>@Model.ResultMessage</h1>
                </div>
            }
            if (Model.IsSuccess)
            {
                <div class="alert alert-success alert-dismissable" role="alert">
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    <h1>@Model.ResultMessage</h1>
                </div>
            }
        }
        <h1>Add Paints</h1>
        <form asp-action="SearchResults" asp-controller="Search" method="post">
            <div class="form-group">
                <label asp-for="Paint"></label>
                <input asp-for="Paint" class="form-control" />
                <span asp-validation-for="Paint" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SelectedCompany">Company</label>
                <select asp-for="SelectedCompany" asp-items="@(new SelectList(Model.Companies, "Id", "CompanyName"))"
                    class="form-control"></select>
                <span asp-validation-for="SelectedCompany" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SelectedPaintType">Paint Type</label>
                <select asp-for="SelectedPaintType" asp-items="@(new SelectList(Model.PaintTypes, "Id", "TypeOfPaint"))"
                    class="form-control"></select>
                <span asp-validation-for="SelectedPaintType" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary">Add Paint</button>
        </form>
    }
}